[Unit]
Description=Daily backup of gitea data
After=network.target
OnFailure=herald@%n

[Service]
Type=oneshot
User=gitea

LoadCredentialEncrypted=gitea-backup-url:/etc/credstore/gitea/gitea-backup-url.cred
LoadCredentialEncrypted=gitea-backup-pass:/etc/credstore/gitea/gitea-backup-pass.cred

Environment=RESTIC_REPOSITORY_FILE=%d/gitea-backup-url
Environment=RESTIC_PASSWORD_FILE=%d/gitea-backup-pass

Environment=XDG_CACHE_HOME=/var/cache/gitea

ExecStartPre=+/usr/bin/systemctl stop gitea
ExecStart=/usr/local/sbin/gitea-backup.sh
ExecStartPost=+/usr/bin/systemctl restart gitea

PrivateTmp=yes
