[Unit]
Description=Daily backup of hwaiting database
Requires=hwaiting-backup.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
